.logo-menu{
    display:none;
}

/* xsm */
@media (max-width:576px) {
    .logo-menu{
        display: block;
        
        grid-column: 11/12;
        align-items: center;
        height: 40px;
    }

    .navbar li{
        display: none;
    }

    .main{
        background-image: url(../assets/cuadro.jpeg);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .divMain {
        grid-column: 6/11;
        grid-row: 1/13;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-block: 50px;
    }

    .h1{
    font-size: 42px;
    font-weight: bold;
}


}
















/* sm */
@media (min-width:577px) and (max-width:768px) {

}

/* md */
@media (min-width:769px) and (max-width:992px) {

}

/* lg */
@media (min-width:993px) and (max-width:1200px){

}

/* xl */
@media (min-width:1201px) and (max-width:1400px){

}

/* xxl */
@media (min-width:1401px) {
    
}
