.logo-menu{
    display:none;
}

/* xsm */
@media (max-width:576px) {
    .logo-menu{
        display: flex;
        grid-column: 11/12;
        align-items: center;        
        justify-content: center;
        font-size: 25px;
    }

    .navbar li{
        display: none;
    }

    .main{
        background-image: url(../assets/cuadro.jpeg);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .divMain {
        grid-column: 6/11;
        grid-row: 1/13;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-block: 50px;
    }

    .h1{
    font-size: 42px;
    font-weight: bold;
}
}
















/* sm */
@media (min-width:577px) and (max-width:768px) {
    
    .navbar li{
        display: none;
    }

    .logo-menu{
            display: flex;
            grid-column: 11/12;
            align-items: center;        
            justify-content: center;
            font-size: 25px;
        }

    .main{
        background-image: url(../assets/cuadro.jpeg);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .divMain{
        grid-column: 5/12;
        grid-row: 0/12;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-block: 80px;
    }

    .boton{
        margin-top: 10px;
    }
}

/* md */
@media (min-width:769px) and (max-width:823px) {
    
    .divMain {
        grid-column: 6/12;
        grid-row: 2/12;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .boton{
        margin-top: 10px;
    }

    .boton:hover{
        width: 50%;
        background-color: #3c4a59;
        translate: -4px;
        }
}

@media (min-width:824px) and (max-width:992px) {
    .divMain {
        grid-column: 7/11;
        grid-row: 2/12;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin-block: 0px;
    }

    .h1{
        grid-column: 7/13;
        font-size: 48px;
    }

    .boton:hover{
        width: 50%;
        background-color: #3c4a59;
        translate: -4px;
        }
        

}

/* lg */
@media (min-width:993px) and (max-width:1200px){
    .divMain{
        grid-column: 8/12;
    }

    .h1{
        font-size: 60px;
    }
}

/* xl */
@media (min-width:1201px) and (max-width:1400px){

}

/* xxl */
@media (min-width:1401px) {
    
}
