@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* HEADER */
.header {
  width: 100vw;
  height: 11vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: linear-gradient(to right bottom, #bdc3c7, #2c3e50);
}

.logoHeader {
  width: 55px;
  height: 55px;
  grid-column: 2/3;
  align-self: center;
}

.navbar {
  display: flex;
  grid-column: 4/10;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.logo-menu {
  color: #fff;
}

/* MAIN */
.main {
  height: 78vh;
  background-image: url(../assets/cuadro.jpeg);
  /* background-size: 100%; */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.divMain {
  grid-column: 9/11;
  grid-row: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-block: 50px;
}

.h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
}

.h1 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.pDivMain {
  font-size: larger;
  font-weight: 900;
  color: #fff;
}

.boton {
  font-family: "Poppins", sans-serif;
  width: auto;
  height: auto;
  font-size: 18px;
  border-radius: 5px;
  border: 2px #fff;
  border-style: groove;
  background-color: transparent;
  cursor: pointer;
  align-self: start;
  padding: auto;
  color: #fff;
  padding: 10px 10px;
  transition-property: width background-color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.boton:hover {
  width: 100%;
  background-color: #3c4a59;
  translate: -10px;
}

/* FOOTER */
.divFooter {
  width: 100vw;
  height: 11vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  /* background-color: rgb(125, 129, 123); */
  background-image: linear-gradient(to left top, #bdc3c7, #2b3846);
}

.pFooter {
  color: #fff;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociales-footer {
  color: #fff;
  grid-column: 9/10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* MEDIAQ index*/
.logo-menu {
  display: none;
}

/* mobile first */
@media (min-width: 375px) and (max-width: 482px) {
  .h2 {
    display: none;
  }
  .navbar li {
    display: none;
  }
  .logo-menu {
    display: flex;
    grid-column: 11/12;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  .main {
    background-position: left;
  }
  .divMain {
    grid-column: 2/12;
    grid-row: 5/13;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    margin-block: 0px;
    align-items: end;
  }
  .boton {
    align-self: end;
  }
}
/* xsm */
@media (min-width: 483px) and (max-width: 576px) {
  .logo-menu {
    display: flex;
    grid-column: 11/12;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  .navbar li {
    display: none;
  }
  .main {
    background-image: url(../assets/cuadro.jpeg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .divMain {
    grid-column: 6/11;
    grid-row: 1/13;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-block: 50px;
  }
  .h1 {
    font-size: 42px;
    font-weight: bold;
  }
}
/* sm */
@media (min-width: 577px) and (max-width: 768px) {
  .navbar li {
    display: none;
  }
  .logo-menu {
    display: flex;
    grid-column: 11/12;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  .main {
    background-image: url(../assets/cuadro.jpeg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .divMain {
    grid-column: 5/12;
    grid-row: 0/12;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-block: 80px;
  }
  .boton {
    margin-top: 10px;
  }
}
/* md */
@media (min-width: 769px) and (max-width: 823px) {
  .divMain {
    grid-column: 6/12;
    grid-row: 2/12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .boton {
    margin-top: 10px;
  }
  .boton:hover {
    width: 50%;
    background-color: #3c4a59;
    translate: -4px;
  }
}
/* extra */
@media (min-width: 824px) and (max-width: 992px) {
  .divMain {
    grid-column: 7/11;
    grid-row: 2/12;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-block: 0px;
  }
  .h1 {
    grid-column: 7/13;
    font-size: 48px;
  }
  .boton:hover {
    width: 50%;
    background-color: #3c4a59;
    translate: -4px;
  }
}
/* lg */
@media (min-width: 993px) and (max-width: 1200px) {
  .divMain {
    grid-column: 8/12;
  }
  .h1 {
    font-size: 60px;
  }
}
/* xl */
/* xxl */
/* PÁGINA EXPO */
.h1expo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.body-expo {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(../assets/cuadro.jpeg);
  /* background-size: 100%; */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}

.btn {
  background-color: transparent;
  border-color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: #3c4a59;
  border-color: #fff;
}

/* VER CUAL ES LA REGLA QUE ME ESTABA TAPANDO ACA */
.btn:active {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #fff !important;
}

.card {
  background: transparent;
  width: 450px;
  height: 390px;
  margin: 10px;
}

.card-title {
  color: #fff;
}

.card-img-top {
  width: 100%;
  height: 100%;
}

.card-img-bottom {
  width: 90%;
  height: 80%;
}

/* PÁGINA CONTACTO */
.main-contacto {
  height: 78vh;
}

.body-contacto {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(../assets/cuadro.jpeg);
  /* background-size: 100%; */
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}

.prueba123 {
  color: red;
}

.main-contacto {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.titulo-contacto {
  grid-column: 4/10;
  grid-row: 1/3;
  color: #fff;
}

.titulo-contacto p {
  text-align: center;
  font-weight: bolder;
}

.h2contacto {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-size: 50px;
  align-items: center;
  font-weight: bold;
}

.formulario-contacto {
  grid-column: 4/10;
  grid-row: 4/11;
  border: 0.5px solid #fff;
  border-radius: 5px;
  padding: 10px;
  text-shadow: #bdc3c7;
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-label {
  color: #fff;
}

.btn {
  margin: auto;
}

.main-shop {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(../assets/cuadro.jpeg);
  background-size: 100%;
  background-position: bottom bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */